version: '2'
services:
  blogDB_db:
    image: mysql:latest
    container_name: laufEndlich
    volumes:
      - "./.mysql-data/db:/var/lib/mysql"
    restart: always
    ports:
      - 3307:3306
    environment:
      MYSQL_ROOT_PASSWORD: rootpw
      MYSQL_DATABASE: blogDB
      MYSQL_USER: user
      MYSQL_PASSWORD: userpw