{# app/Resources/views/default/userpage.html.twig #}
<html>
    <head>
        <title>Welcome to your blog!</title>
    </head>
    <body>
        Hallo {{ user.username }}!

        <a href="/logout">logout</a>
    </body>
</html>