{# app/Resources/views/blog/article.html.twig #}
{% extends "blog/blogtemplate.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div id="Article" class="col-md-8">
        <h2>{{ article.title }}</h2>
        {{ article.text }}
        <p>{{ article.user.username }}</p>
    </div>

    <p>
        <a href="/blog/list" class="btn btn-outline-secondary">back to list</a>
    </p>
{% endblock %}